@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

nav{
    display: flex;
    
}

.yo{
    position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 2px;

background-image: url("/public/Pictures/R.jpg"),linear-gradient(360deg, #171A21 60%, rgba(23, 26, 33, 0.6) 100%);




background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: multiply;
}

.nav-bar{
    padding: 25px;
    color: white;
}





#KH{
    width: 118px;
    height: 23px;
    left: 10px;
    top: 1px;


    font-family: 'Outfit';
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #F1B722;

}

.nav-bar{



    align-items: center;
    font-family: 'Outfit';
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

}
.hi{
    color:whitesmoke;
}

.game-contain {
    display: flex;
    flex-direction: column;
    
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .hi:hover {
    transform: scale(1.05);
    color: #F1B722;
  }
  
  



  .card-list {
    width: 85vw;
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
  }

  .game-spot{
      position: relative;
      align-items: center;
  }
  