@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');




.dayz{
 

  
  background-image: url("../public/Pictures/dayZ.png"),linear-gradient(360deg, #23262c 30%, rgba(23, 26, 33, 0.6) 100%);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
 /* background: linear-gradient(360deg, #171A21 59%, rgba(23, 26, 33, 0.6) 100%);*/
  background-blend-mode: multiply;
  

  
}

.HomePage{
 Width :93px;
  height :23px;
Top :44529px;
  height: 1023px;
  left: -38px;
  top: 1px;
  font-family:'Outfit';

  

Left :84px;
}

.register{



text-align: center;
color: azure;
font-size:25px;



}



.registerBox{
  margin: auto;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 7mm;
  
}

.KnightsGame{
  position: relative;
  left: 600px;
  color: #F1B722;
  font-family: 'Outfit';
}

.email{
  text-align: left;
  font-size: x-small;
  padding-top: 130px;
  padding-left: 130px;
  
  font-family:'Outfit';
  color:whitesmoke

}

.passWord{
  text-align: left;
  padding-left: 130px;
  
  padding-bottom: 130px;
  font-size: x-small;
  color:whitesmoke;
  font-family:'Outfit';
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AboutUsBox {
  position: absolute;
  width: 1470px;
  height: 103px;
  left: 0px;
  top: 914px;
  background: #1B2236;

}

.RememberMe{
  position: relative;
  bottom:130px;
  left:130px;
  font-size: x-small;
  display: flex;
  
  font-family: 'Outfit';
  color: #FFFFFF
  

}

.RememberButton{
  position: relative;
  left:5px;
  top:13px;
  width: 15px;
  height: 15px;
}